{% extends 'equipment/base.html' %}

{% block content %}
{% if user.is_authenticated and user.is_staff%}
<center>
    <h1>Dodawanie nowego sprzętu</h1>
    {{ group }}
</center>
    {% if submitted %}
<center>
        Poprawnie dodano nowy sprzęt!!!
</br>
        <a class="btn btn-secondary" href="{% url 'equipment_list' %}" role="button">Powrót</a>
</center>
    {% else %}
<form action="" method=POST>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Dodaj" class="btn btn-secondary">
</form>
    {% endif %}
{% else %}
<h1>Tylko Administratorzy oraz Edytorzy mogą dodawać sprzęt. Jeżeli jesteś Administratorem lub Edytorem zaloguj się klikając w link poniżej</h1>
<a href="{% url 'login_user' %}">Zaloguj się</a>
{% endif %}
{% endblock %}