{% extends 'equipment/base.html' %}

{% block content %}
{% if user.is_authenticated%}
<nav class="navbar">
    <div class="nav-item">
        <a class="nav-link" href="{% url 'equipment_csv' %}">Eksport do CSV</a>
    </div>
    <div>
          <form class="d-flex" method=POST action="{% url 'search_equipment' %}">
              {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Szukaj sprzętu" aria-label="Search" name="searched">
            <button class="btn btn-outline-success" type="submit">Szukaj</button>
          </form>
    </div>
</nav>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Kategoria</th>
      <th scope="col">Producent</th>
      <th scope="col">Numer inwentarzowy</th>
      <th scope="col">Lokalizacja</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    {% for equipment in equipments %}
    <th scope="row">{{ equipment.id }}</th>
    <td>
        <a href="{% url 'show_equipment' equipment.id %}">{{ equipment.nazwa }}</a>
    </td>
    <td>{{ equipment.kategoria }}</td>
    <td>{{ equipment.producent }}</td>
    <td>{{ equipment.numer_inwentarzowy }}</td>
    <td>{{ equipment.lokalizacja }}</td>
  </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if equipments.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1">&laquo Pierwsza</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{equipments.previous_page_number}}">Poprzednia</a>
    </li>
    {% endif %}
    {% for i in nums %}
        <li class="page-item">
            <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
    {% endfor %}
    {% if equipments.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{equipments.next_page_number}}">Następna</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{equipments.paginator.num_pages}}">Ostatnia &raquo</a>
    </li>
    {% endif %}
    </ul>
</nav>
{% else %}
<h1>Tylko zalogowani użytkownicy mogą widzieć listę sprzętów</h1>
<a href="{% url 'login_user' %}">Zaloguj się</a>
{% endif %}
{% endblock %}