{% extends 'equipment/base.html' %}

{% block content %}
{% if user.is_authenticated %}
⁣
<div class="card border-dark mb-8">
  <div class="card-header text-center">
    <h1>{{ equipment.nazwa }}</h1>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row align-items-center">
        <div class="col text-align-left">
          <p class="fs-5 fw-bold">ID Sprzętu: {{ equipment.id }}</p>
          <p class="fs-5 fw-bold">Kategoria: {{ equipment.kategoria }}</p>
          <p class="fs-5 fw-bold">Producent: {{ equipment.producent }}</p>
          <p class="fs-5 fw-bold">Numer seryjny: {{ equipment.numer_seryjny }}</p>
          <p class="fs-5 fw-bold">Numer inwentarzowy: {{ equipment.numer_inwentarzowy }}</p>
          <p class="fs-5 fw-bold">Lokalizacja: {{ equipment.lokalizacja }}</p>
          <p class="fs-5 fw-bold">Data utworzenia: {{ equipment.data_utworzenia }}</p>
        </div>
        <div class="col text-center">
          {% if equipment.zdjecie %}
             <img src="{{ equipment.zdjecie.url }}" class="img-fluid" width="250" height="250">
          {% endif %}
        </div>
        <div class="col text-center">
          {% if equipment.QR_code %}
                  <img src="{{ equipment.QR_code.url }}" width="250" height="250">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
        <nav class="navbar bg-dark">
            <div class="container-fluid d-grid gap-2 d-md-flex justify-content-center" >
                <a class="btn btn-secondary col-3" href="{% url 'equipment_list' %}" role="button">Powrót</a>
                {% if user.is_authenticated and user.is_staff %}
                <a class="btn btn-warning col-3" href="{% url 'update_equipment' equipment.id %}" role="button">Edytuj</a>
                <a class="btn btn-danger col-3" href="{% url 'delete_equipment' equipment.id %}" role="button">Usuń</a>
                {% endif %}
            </div>
        </nav>
</div>
⁣
{% else %}
<h1>Tylko zalogowani użytkownicy mogą widzieć listę sprzętów</h1>
<a href="{% url 'login_user' %}">Zaloguj się</a>
{% endif %}
{% endblock %}