{% extends 'equipment/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="card">
       <div class="card-header ">
          <h1>{{ equipment.nazwa }}</h1>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              {% if equipment.zdjecie %}
              <img src="{{ equipment.zdjecie.url }}" width="100">
              {% endif %}
                  <p class="fs-7">ID Sprzętu: {{ equipment.id }}</p>
                  <p class="fs-7">Kategoria: {{ equipment.kategoria }}</p>
                <p class="fs-7">Producent: {{ equipment.producent }}</p>
                <p class="fs-7">Numer seryjny: {{ equipment.numer_seryjny }}</p>
                <p class="fs-7">Numer inwentarzowy: {{ equipment.numer_inwentarzowy }}</p>
                <p class="fs-7">Lokalizacja: {{ equipment.lokalizacja }}</p>
                <p class="fs-7">Data utworzenia: {{ equipment.data_utworzenia }}</p>
            </blockquote>
       </div>
    {% if user.is_authenticated and user.is_staff %}
    <nav class="navbar bg-dark">
        <div class="container-fluid d-grid gap-2 d-md-block">
            <a class="btn btn-secondary" href="{% url 'equipment_list' %}" role="button">Powrót</a>
            <a class="btn btn-warning" href="{% url 'update_equipment' equipment.id %}" role="button">Edytuj</a>
            <a class="btn btn-danger" href="{% url 'delete_equipment' equipment.id %}" role="button">Usuń</a>
        </div>
    </nav>
    {% endif %}
</div>
{% else %}
<h1>Tylko zalogowani użytkownicy mogą widzieć listę sprzętów</h1>
<a href="{% url 'login_user' %}">Zaloguj się</a>
{% endif %}
{% endblock %}