{% extends 'equipment/base.html' %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
<center>
  <h1>Edycja sprzętu {{ equipment.nazwa }}</h1>
</center>
<br/>
<form action="" method=POST enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Zaakceptuj zmiany" class="btn btn-secondary">
</form>
{% else %}
<h1>Tylko Administratorzy oraz Edytorzy mogą edytować sprzęt. Jeżeli jesteś Administratorem lub Edytorem zaloguj się klikając w link poniżej</h1>
<a href="{% url 'login_user' %}">Zaloguj się</a>
{% endif %}
{% endblock %}