.loginscreenstrona-container {
  min-height: 100vh;
}
.loginscreenstrona-loginscreenstrona {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1920px;
  min-width: 800px;
  max-height: 1080px;
  min-height: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.loginscreenstrona-abstractgreennetworkbackgroundfreevideo1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
.loginscreenstrona-container1 {
  top: 176px;
  left: 0px;
  right: 0px;
  width: 535px;
  height: 579px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.loginscreenstrona-rectangle34 {
  top: 0px;
  left: 0px;
  width: 535px;
  height: 579px;
  margin: auto;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
}
.loginscreenstrona-loginsection {
  left: 0px;
  right: 0px;
  width: 281px;
  bottom: 61px;
  height: 389px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.loginscreenstrona-text {
  top: 370px;
  left: 16px;
  color: rgba(0, 0, 0, 0.800000011920929);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Arvo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.loginscreenstrona-logindiv {
  top: 311px;
  left: 0px;
  width: 280px;
  height: 41.31004333496094px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 40px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.7400000095367432);
}
.loginscreenstrona-text2 {
  top: 11px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Arvo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.loginscreenstrona-remembermediv {
  top: 231px;
  left: 16px;
  width: 176px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.loginscreenstrona-text4 {
  top: 2px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Arvo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.loginscreenstrona-rememberbuttondiv {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.loginscreenstrona-rememberbutton {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-color: rgba(8, 105, 84, 0.9599999785423279);
  border-style: solid;
  border-width: 1px;
}
.loginscreenstrona-emaildiv {
  top: 95px;
  left: 1px;
  width: 280px;
  height: 41.31004333496094px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.loginscreenstrona-textinput {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.loginscreenstrona-passworddiv {
  top: 176px;
  left: 1px;
  width: 280px;
  height: 41.31004333496094px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.loginscreenstrona-textinput1 {
  width: 100%;
  height: 100%;
  align-self: center;
  border-radius: 40px;
}
.loginscreenstrona-text6 {
  left: 1px;
  color: rgba(0, 0, 0, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Arvo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.loginscreenstrona-logo {
  top: 82px;
  left: 0px;
  right: 0px;
  width: 221px;
  height: 221px;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
