.passwordresetmailstrona-container {
  min-height: 100vh;
}
.passwordresetmailstrona-passwordresetmailstrona {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1920px;
  min-width: 800px;
  max-height: 1080px;
  min-height: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.passwordresetmailstrona-abstractgreennetworkbackgroundfreevideo1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-color: transparent;
}
.passwordresetmailstrona-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 535px;
  bottom: 0px;
  height: 579px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.passwordresetmailstrona-rectangle34 {
  top: 0px;
  left: 0px;
  width: 535px;
  height: 579px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
}
.passwordresetmailstrona-passwordresetsection {
  top: 342px;
  left: 0px;
  right: 0px;
  width: 280px;
  height: 103px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.passwordresetmailstrona-sendnotifydiv {
  top: 63px;
  left: 0px;
  right: 0px;
  width: 280px;
  height: 40px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 40px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.7400000095367432);
}
.passwordresetmailstrona-text {
  top: 11px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: 236px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Arvo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.passwordresetmailstrona-enteremailgroup {
  top: 0px;
  left: 0px;
  width: 280px;
  height: 40px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 40px;
  flex-direction: row;
  justify-content: flex-start;
}
.passwordresetmailstrona-textinput {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.passwordresetmailstrona-informationdiv {
  top: 200px;
  left: 0px;
  right: 0px;
  width: 314.9363098144531px;
  height: 95px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.passwordresetmailstrona-text2 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 315px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Arvo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.passwordresetmailstrona-text4 {
  top: 38px;
  left: 0px;
  color: rgba(0, 0, 0, 0.7400000095367432);
  right: 0px;
  width: 289px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Arvo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.passwordresetmailstrona-backdiv {
  top: 51px;
  left: 51px;
  width: 76.99992370605469px;
  height: 20px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.passwordresetmailstrona-text6 {
  color: rgba(0, 0, 0, 1);
  right: -1px;
  width: 45px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Arvo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.passwordresetmailstrona-vector {
  top: 3.1578948497772217px;
  left: 0px;
  width: 27px;
  height: 16px;
  position: absolute;
}
.passwordresetmailstrona-logosection {
  top: 92px;
  left: 0px;
  right: 0px;
  width: 99px;
  height: 98px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 25px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.passwordresetmailstrona-logo {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 99px;
  height: 98px;
  margin: auto;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  border-radius: 25px;
}
