.passwordresetmailnotifystrona-container {
  min-height: 100vh;
}
.passwordresetmailnotifystrona-passwordresetmailnotifystrona {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1920px;
  min-width: 800px;
  max-height: 1080px;
  min-height: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.passwordresetmailnotifystrona-abstractgreennetworkbackgroundfreevideo1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-color: transparent;
}
.passwordresetmailnotifystrona-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 535px;
  bottom: 0px;
  height: 579px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.passwordresetmailnotifystrona-rectangle34 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 535px;
  bottom: 0px;
  height: 579px;
  margin: auto;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
}
.passwordresetmailnotifystrona-informationnotifydiv {
  top: 55px;
  right: 0px;
  width: 535px;
  height: 168.8018798828125px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.passwordresetmailnotifystrona-text {
  color: rgba(0, 0, 0, 1);
  width: 535px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Arvo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.passwordresetmailnotifystrona-text2 {
  top: 68px;
  left: 0px;
  color: rgba(0, 0, 0, 0.7400000095367432);
  width: 535px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Arvo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.passwordresetmailnotifystrona-backtologinbutton {
  left: 0px;
  right: 0px;
  width: 329px;
  bottom: 80px;
  height: 47px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 40px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.7400000095367432);
}
.passwordresetmailnotifystrona-text4 {
  top: 12.925000190734863px;
  left: 81.07499694824219px;
  color: rgba(255, 255, 255, 1);
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: center;
  font-family: Arvo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.passwordresetmailnotifystrona-checkimage {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 191px;
  bottom: 0px;
  height: 191px;
  margin: auto;
  position: absolute;
  border-color: rgba(245, 245, 245, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 82px;
}
